<div class="container">
    
    <div class="row mb-2">
        <div class="col"></div>
        <div class="col-md-6">
            <h2 class="mb-4">#view-name#</h2>
            <p class="mb-3">A continuación puedes ver una lista con los parámetros de configuración de la aplicación.</p>
            <p class="mb-3 text-muted">No olvides guardar cualquier cambio antes de salir de la página.</p>
        </div>
        <div class="col"></div>
    </div>
    
    <div class="row">
        <div class="col"></div>
        <div class="col-md-6">
            #app-settings-edit-form-html#
        </div>
        <div class="col"></div>
    </div>

</div>