<div class="container">
    <div class="row mb-4">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <!--a class="d-block mb-3" href="#back-to-search-url#">
                <i class="material-icons-outlined d-inline-block align-middle me-2">arrow_back</i><span class="d-inline-block align-middle">Atender a otro estudiante</span>
            </a-->
            <h2 class="mb-4">
                <span class="d-inline-block align-middle material-icons-outlined me-2 text-muted">archive</span>
                <span class="d-inline-block align-middle">#view-name#</span>
            </h2>
            <!--#student-card-html#-->
            <!--p class="mb-3">A continuación se muestran las posibles gestiones para el estudiante seleccionado:</p-->
        </div>
        <div class="col-md-3"></div>
    </div>

    #form#
</div>