<div class="container">
    
    <div class="row mb-4">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <a class="d-block mb-3" href="#back-to-search-url#">
                <i class="material-icons d-inline-block align-middle me-2">arrow_back</i><span class="d-inline-block align-middle">Atender a otro estudiante</span>
            </a>
            <h2 class="mb-4">
                <span class="d-inline-block align-middle material-icons-outlined me-2 text-muted">assistant</span>
                <span class="d-inline-block align-middle">#view-name#</span>
            </h2>
            #student-card-html#
            <p class="mb-3">A continuación se muestran las posibles gestiones para el estudiante seleccionado:</p>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row mb-4">
        <div class="col-xl-1"></div>
        <div class="col-xl-5 mb-4">
            <div class="row align-items-center mb-3">
                <div class="col">
                    <h4 class="text-secondary">
                        <span class="material-icons-outlined d-inline-block align-middle me-2">file_download</span>
                        <span class="d-inline-block align-middle">Devoluciones (#returns-count#)</span>
                    </h4>
                </div>
            </div>
            <div class="accordion" id="#returns-accordion-id#">
                #returns-content#
            </div>
        </div>
        <div class="col-xl-5">
            <h4 class="row text-secondary mb-3">
                <div class="col">
                    <h4 class="text-secondary">
                        <span class="material-icons-outlined d-inline-block align-middle me-2">file_upload</span>
                        <span class="d-inline-block align-middle">Recogidas (#pickups-count#)</span>
                    </h4>
                </div>
            </h4>
            <div class="accordion" id="#pickups-accordion-id#">
                #pickups-content#
            </div>
        </div>
        <div class="col-xl-1"></div>
    </div>

    <div class="row">
        <div class="col-xl-1"></div>
        <div class="col-xl-5 mb-4">
            <div class="row align-items-center mb-3">
                <div class="col">
                    <h4 class="text-secondary">
                        <span class="material-icons-outlined d-inline-block align-middle me-2">favorite_border</span>
                        <span class="d-inline-block align-middle">Donaciones</span>
                    </h4>
                </div>
            </div>
            <div class="card p-3">
                <div class="row align-items-center">
                    <div class="col">Siempre se pueden crear donaciones 😃</div>
                    <div class="col-md-4 text-end">
                        <a href="#donations-btn-url#" class="btn btn-primary rounded-pill">
                            <span class="d-inline-block align-middle material-icons-outlined">add</span>
                            <span class="d-inline-block align-middle">Nueva</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-5">
            <h4 class="row text-secondary mb-3">
                <div class="col">
                    <h4 class="text-secondary">
                        <span class="material-icons-outlined d-inline-block align-middle me-2">book</span>
                        <span class="d-inline-block align-middle">Solicitudes</span>
                    </h4>
                </div>
            </h4>
            <div class="card p-3">
                <div class="row align-items-center">
                    <div class="col">#requests-text#</div>
                    <div class="col-md-4 text-end">
                        <a href="#requests-btn-url#" class="btn btn-primary rounded-pill #requests-btn-disabled-class#" #requests-btn-disabled-attibutes#>
                            <span class="d-inline-block align-middle material-icons-outlined">add</span>
                            <span class="d-inline-block align-middle">Nueva</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-1"></div>
    </div>
</div>