<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <p class="mb-4 display-1">
                <span class="material-icons-outlined text-muted">archive</span>
            </p>
            <h2 class="mb-4">#view-name#</h2>
            <p class="text-muted mb-3">Este asistente ordena las solicitudes en función de los criterios de asignación establecidos y presenta las solicitudes para rellenar los paquetes y marcarlos como listos.</p>
            <p class="text-muted mb-3">Cuando se marca como listo un paquete, se envía al estudiante que realizó la solicitud a través de un mensaje de correo electrónico (si la opción está habilitada).</p>
            <p class="text-muted mb-5">Este asistente <strong>aún no está listo para funcionar en varios dispositivos al mismo tiempo</strong>. Hacer esto podría causar duplicados o problemas de consistencia.</p>
            <a href="#run-url#" class="btn btn-primary">Arrancar asistente</a>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>