<div class="container">
    
    <div class="row mb-4">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <a class="d-block mb-3" href="#back-to-overview-url#">
                <i class="material-icons-outlined d-inline-block align-middle me-2">arrow_back</i><span class="d-inline-block align-middle">Volver al resumen del estudiante</span>
            </a>
            <p class="mb-1 text-muted">
                <span class="d-inline-block align-middle material-icons-outlined me-2 text-muted">assistant</span>
                <span class="d-inline-block align-middle">#assistant-view-name#</span>
            </p>
            <h2 class="mb-4">
                <span class="d-inline-block align-middle material-icons-outlined me-2 text-muted">favorite_border</span>
                <span class="d-inline-block align-middle">#view-name#</span>
            </h2>
            #student-card#
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row">
        #form#
    </div>
</div>