/**
 * Estilos principales.
 * 
 * @package lyra
 *
 * @author juancrrn
 *
 * @version 0.0.1
 */

:root {
    --disabled-input-background-color: #e9ecef;
    --lyra-donation-theme-color: #b1ffca;
    --lyra-request-theme-color: #f2d1ff;
    --lyra-lot-theme-color: #ffe6ce;
}

*, html, body, header,footer, section, aside, div, ul, li, a, p, h1, h2, h3, h4, span, table, tr, td {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Ubuntu", "Helvetica", Arial, sans-serif;
    border-collapse: collapse;
}

.material-icons, .material-icons-outlined {
    display: inline-block !important;
    vertical-align: middle !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    font-size: inherit !important;
}

.lyra-pretext {
    text-transform: uppercase;
    color: var(--bs-gray);
    font-size: 1em;
    margin-bottom: .9rem;
    margin-left: 2px;
}

.lyra-main-content-inner {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/*
 * Formulario de cierre de sesión.
 */

#form-logout {
    background: transparent;
    padding: 0;
    border: none;
    margin: 0;
    border-radius: 0;
}

#form-logout button {
    cursor: pointer;
    color: rgb(123, 31, 162);
    font-family: inherit;
    line-height: 24px;
    background: none;
    border: none;
    font-size: inherit;
    display: block;
    padding: .5rem 1rem;
}

.lyra-user-type-badge {
    margin: 10px 10px 10px 0;
    text-transform: uppercase;
}

.associated-lot .accordion-button[disabled] {
    background-color: var(--disabled-input-background-color);
}

.domain-id-badge {
    display: inline-block;
    padding: .35em;
    line-height: 1;
    color: var(--bs-gray-dark);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 1rem;
    background-color: #eeeeee;
    width: 3.3rem;
}

.domain-id-badge.donation {
    background-color: var(--lyra-donation-theme-color);
}

.domain-id-badge.request {
    background-color: var(--lyra-request-theme-color);
}

.domain-id-badge.lot {
    background-color: var(--lyra-lot-theme-color);
}

.domain-id-badge .id {
    font-size: .9em;
}

.domain-id-badge .icon {
    margin-bottom: .3rem;
    font-size: 1.4rem;
}

/**
 * Barra indicadora de carga.
 */

#loading-progress-bar {
    display: none;
    z-index: 9999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    margin:auto;
}

#loading-progress-bar > div{
    background-color: rgb(255, 255, 255);
    margin-top: 0;
    margin-left: -100%;
    animation-name: loading_progress_bar_animation;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    width: 100%;
    height: 2px;
}

@keyframes loading_progress_bar_animation {
    0% {
        margin-left:-100%;
    }

    100% {
        margin-left:100%;
    }
}