<div class="accordion-item">
    <h2 class="accordion-header" id="#heading-id#">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="##body-id#" aria-expanded="false" aria-controls="#body-id#">
            <div class="container p-0">
                <div class="row align-items-center">
                    <div class="col-md-2">
                        #id-badge#
                    </div>
                    <div class="col">
                        <p class="mb-1">#title-human#</p>
                        <p class="mb-1"><small>#status-human#</small></p>
                        <p class="mb-1"><small>#lot-badge#</small></p>
                        <p><small class="text-muted">#creation-date-human#</small></p>
                    </div>
                </div>
            </div>
        </button>
    </h2>
    <div id="#body-id#" class="accordion-collapse collapse" aria-labelledby="#heading-id#" data-bs-parent="#bookbank-student-overview-requests-lots-accordion">
        <div class="accordion-body">
            <p class="mb-2">Especificación</p>

            <p class="mb-3 text-muted">#specification#</p>

            <p class="mb-2">Paquete asociado</p>

            <div class="card">
                <div class="card-body">
                    <div class="container p-0">
                        <div class="row align-items-center">
                            <div class="col-md-2">
                                #lot-id-badge#
                            </div>
                            <div class="col">
                                <p class="mb-1">#lot-title-human#</p>
                                <p><small class="text-muted">#lot-creation-date-human#</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    #lot-content-list-human#
                </ul>
            </div>
        </div>
    </div>
</div>