<div class="container">
    
    <div class="row mb-2">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2 class="mb-4">#view-name#</h2>
            <p class="mb-3">A continuación puedes ver una lista de tus movimientos en el banco de libros.</p>
            <p class="mb-3 text-muted">Si necesitas realizar cualquier corrección o modificación, ponte en contacto con nosotros.</p>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row">
        <div class="col-xl-1"></div>
        <div class="col-xl-5">
            <h4 class="text-secondary mb-3">
                <span class="material-icons d-inline-block align-middle me-2">favorite</span>
                <span class="d-inline-block align-middle">Donaciones (#donation-count#)</span>
            </h4>
            <div class="accordion mb-4" id="bookbank-student-overview-donations-accordion">
                #donation-list-human#
            </div>
        </div>
        <div class="col-xl-5">
            <h4 class="text-secondary mb-3">
                <span class="material-icons d-inline-block align-middle me-2">book</span>
                <span class="d-inline-block align-middle">Solicitudes y paquetes (#request-count#)</span>
            </h4>
            <div class="accordion mb-4" id="bookbank-student-overview-requests-lots-accordion">
                #request-lot-list-human#
            </div>
        </div>
        <div class="col-xl-1"></div>
    </div>
</div>