<div class="lyra-main-content-inner">
    <div class="row">
        <div class="col"></div>
        <div class="col-mb-5 px-2 text-center">
            <h4 class="text-muted mb-5">¡Hola!</h4>
            <img src="#app-url#/img/graphic-home-books.svg" alt="#app-name#" class="mb-5" style="max-width: 650px;">
            <div class="mx-auto" style="max-width: 650px;">
                <p class="mb-3">Utiliza la navegación de la barra superior para acceder al contenido que quieres visualizar.</p>
                <p class="mb-3">En caso de dudas, sugerencias o problemas, puedes utilizar la aplicación de soporte del Instituto, disponible en <a href="https://soporte.iax.es" target="_blank">soporte.iax.es</a>.</p>
                <p class="text-muted">Esta aplicación se encuentra en desarrollo, por lo que es posible que algunas funciones no estén disponibles o presenten fallos. Disculpa las molestias.</p>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>