<div class="lyra-main-content-inner">
    <div class="row">
        <div class="col"></div>
        <div class="col-mb-5 px-2 text-center">
            <img src="#app-url#/img/graphic-home-books.svg" alt="#app-name#" class="mb-4" style="max-width: 750px;">
            <h4 class="text-muted mb-3">Te damos la bienvenida</h4>
            <p class="mb-3">#app-name# es la aplicación web que gestiona el banco de libros.</p>
            <p class="mb-5">Consulta toda la información iniciando sesión.</p>
            <p class="mb-5"><a class="btn btn-primary" href="#app-url#/auth/login/">Iniciar sesión</a></p>
            <small><a class="text-muted" href='https://www.freepik.com'>La imagen de arriba fue diseñada por pch.vector de www.freepik.com</a></small>
        </div>
        <div class="col"></div>
    </div>
</div>