<div class="lyra-main-content-inner">
    <div class="row">
        <div class="col"></div>
        <div class="col-mb-5 px-2 text-center">
            <img src="#app-url#/img/graphic-home-books.svg" alt="#app-name#" class="mb-4" style="max-width: 650px;">
            <div class="mx-auto" style="max-width: 650px;">
                <h4 class="text-muted mb-3">Te damos la bienvenida</h4>
                <p class="mb-3">#app-name# es la aplicación web que gestiona el banco de libros.</p>
                <p class="mb-3">Consulta toda la información iniciando sesión.</p>
                <p class="mb-3"><a class="btn btn-primary" href="#login-url#">Iniciar sesión</a></p>
                <p class="mb-3">Si necesitas solicitar <strong>cita previa</strong> para realizar tus gestiones, puedes hacerlo a través del enlace del menú superior.</p>
                <p class="mb-3">En caso de <strong>dudas, sugerencias o problemas</strong>, puedes utilizar la aplicación de soporte del Instituto, disponible en <a href="https://soporte.iax.es" target="_blank">soporte.iax.es</a>.</p>
                <p class="mb-3 text-muted">Esta aplicación se encuentra en desarrollo, por lo que es posible que algunas funciones no estén disponibles o presenten fallos. Disculpa las molestias.</p>
                <small class="text-muted">La imagen de arriba fue diseñada por <a class="text-muted" href="https://www.freepik.com">pch.vector de www.freepik.com</a> y adaptada para Lyra.</small>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>