<div class="container">
    <div class="row mb-4">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2 class="mb-4">
                <span class="d-inline-block align-middle material-icons-outlined me-2 text-muted">supervisor_account</span>
                <span class="d-inline-block align-middle">#view-name#</span>
            </h2>
            <p class="mb-3">En esta vista se muestran los usuarios a los que representas en #app-name#.</p>
            <p class="mb-3">En este momento, esta funcionalidad no está implementada.</p>
            <p class="mb-3">Si necesitas ponerte en contacto con nosotros, o en caso de <strong>dudas, sugerencias o problemas</strong>, puedes utilizar la aplicación de soporte del Instituto, disponible en <a href="https://soporte.iax.es" target="_blank">soporte.iax.es</a>.</p>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>