<input class="form-control" id="token" type="hidden" name="token" disabled="disabled" value="#token#">
<div class="mb-3">
    <label class="form-label" for="new_password">Nueva contraseña</label>
    <input class="form-control" id="new_password" type="password" name="new_password" placeholder="Contraseña" required="required">
    <div class="form-text">Escoge una contraseña de al menos 12 caracteres y utiliza, como mínimo, una mayúscula, una minúscula y un número.</div>
</div>
<div class="mb-3">
    <label class="form-label" for="new_password_repeat">Repetir nueva contraseña</label>
    <input class="form-control" id="new_password_repeat" type="password" name="new_password_repeat" placeholder="Contraseña" required="required">
</div>
<button type="submit" class="btn btn-primary" name="login">Continuar</button>