<div class="accordion-item">
    <h2 class="accordion-header" id="#heading-id#">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="##body-id#" aria-expanded="false" aria-controls="#body-id#">
            <div class="container p-0">
                <div class="row align-items-center">
                    <div class="col-md-2 font-monospace">
                        #id-badge#
                    </div>
                    <div class="col">
                        <p class="mb-2">#title-human#</p>
                        <small class="text-muted">#creation-date-human#</small>
                    </div>
                    <div class="col-md-2 text-end">
                        <a href="#edit-url#" class="p-2 me-2 fs-5 text-secondary">
                            <i class="material-icons-outlined">edit</i>
                        </a>
                    </div>
                </div>
            </div>
        </button>
    </h2>
    <div id="#body-id#" class="accordion-collapse collapse" aria-labelledby="#heading-id#" data-bs-parent="#bookbank-student-overview-donations-accordion">
        <div class="accordion-body">
            <p class="mb-3">Contenido de la donación</p>

            <div class="card">
                <ul class="list-group list-group-flush">
                    #content-list-human#
                </ul>
            </div>
        </div>
    </div>
</div>