<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2 class="mb-4">
                <span class="d-inline-block align-middle material-icons-outlined me-2 text-muted">list_alt</span>
                <span class="d-inline-block align-middle">#view-name#</span>
            </h2>
            <p class="text-muted mb-4">Recuerda que este formulario está limitado a usuarios que pertenecen al grupo de permisos de estudiantes. Otros usuarios no pueden tener asignadas donaciones, solicitudes o paquetes.</p>
            #student-search-form-html#
        </div>
        <div class="col-md-3"></div>
    </div>
</div>