<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="##accordion-item-prefix##id#" aria-expanded="true" aria-controls="#accordion-item-prefix##id#">
            #title#
        </button>
    </h2>
    <div id="#accordion-item-prefix##id#" class="accordion-collapse collapse" data-bs-parent="##accordion-id#">
        <div class="accordion-body">
            #content#
        </div>
    </div>
</div>
#subject-edit-form-modal-html#