<div class="container">
    
    <div class="row mb-2">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <a class="d-block mb-3" href="#back-to-student-overview-url#">
                <i class="material-icons d-inline-block align-middle me-2">arrow_back</i><span class="d-inline-block align-middle">Volver al resumen del estudiante</span>
            </a>
            <h2 class="mb-4">
                <i class="material-icons text-secondary">favorite</i>
                <span class="badge rounded-pill bg-secondary me-2 d-inline-block align-middle">
                    <i class="material-icons">add</i>
                </span>
                <span class="d-inline-block align-middle mb-1">
                    #view-name#
                </span>
            </h2>
            <p class="mb-3 text-muted">No olvides guardar los cambios antes de salir de la página.</p>
        </div>
        <div class="col-md-3"></div>
    </div>

    #donation-create-form-html#
</div>