<li class="list-group-item">
    <div class="container p-0">
        <div class="row align-items-center">
            <div class="col-lg-2 font-monospace my-2">
                <div class="d-block rounded-3" style="background-image: url('#book-image-url#'); height: 52px; width: 42px; background-size: cover; background-position: center;"></div>
            </div>
            <div class="col">
                <p>#title-human#</p>
                <p>
                    <small>
                        <span class="align-middle"><i class="material-icons-outlined">tag</i></span>
                        <span class="align-middle">#book-isbn#</span>
                    </small>
                </p>
                <p>
                    <small>
                        #book-name#
                    </small>
                </p>
            </div>
            <div class="col-lg-2">
                #edit-button#
            </div>
        </div>
    </div>
</li>